.idea/
25.10.2018.py
WynikiTrojki.txt
bledne.txt
ciagi.txt
dane_obrazki.txt
dane_ulamki.txt
hipotetycznaWartoscSpolki.py
huffman.py
ksw_d.csv
liczby.txt
liczby1.txt
liczby2.txt
pantadeusz.txt
silnia.py
test.txt
trojki.txt
venv/
wyinikiUlamki.txt
wyniki62.txt
zadanie61.py
zadanie62.py
zadanie64.py
zadanie65.py
zadanie66.py